* {
  box-sizing: border-box;
}

.page {
  position: relative;

  background-color: #0D0D0D;

  padding-top: 80px;
  padding-bottom: 200px;
}

.page__dark-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #0D0D0D;
  opacity: 0;

  transition: opacity 0.4s;

  z-index: -1;
}

.page__dark-background--visible {
  opacity: 0.4;
  z-index: 0;
}

.page__nft-list:not(:last-child) {
  margin-bottom: 80px;
}